#spig {
	display:block;
	width:150px;
	height:190px;
	position:absolute;
	top: -200px;
	left: 160px;
	z-index:9999;
}
#message{
	color :#191919;
	border: 1px solid #c4c4c4;
	background:#ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	min-height:1em;
	padding:5px;
	top:-30px;
	position:absolute;
	text-align:center;
	width:auto !important;
	z-index:10000;
	-moz-box-shadow:0 0 15px #eeeeee;
	-webkit-box-shadow:0 0 15px #eeeeee;
	border-color:#eeeeee;
	box-shadow:0 0 15px #eeeeee;
	outline:none;
}
#mumu{
	width:150px;
	height:190px;
	cursor: move;
	background:url(/images/assistant.png) no-repeat;
}
/*打赏二维码展示部分的样式*/
#rewards{
    width: 422px;
    height: 200px;
    text-align: center;
    position: relative;
    top: -65px;
    left: -135px;
    display: none;
}
#qrbox{
    position: relative;
/*        display:none;*/
    background: yellow;
    padding: 10px;
}
.qrcode{
    position: relative;
    height: 200px;
    width: 200px;
}
/*打赏部分的按钮样式*/
#free-reward-panel {
    min-height: 80px;
    padding: 10px 0;
    text-align: center;
    clear: both;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
#free-reward-panel p{
    padding: 0 30px;
    font-size: 17px;
    font-weight: 700;
    min-height: 24px;
    margin-bottom: 20px;
    color: #969696;
}
#btn-support{
    font-size: 16px;
    border-radius: 20px;
    background-color: #ea6f5a;
    color: #fff;
    padding: 8px 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    display: inline-block;
}
#btn-support:hover{
    cursor: pointer;
}